@keyframes in-out {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes bounceIn {
    0% {
        opacity: 1;
        transform: scale(1) translate3d(0, 0, 0);
    }
    50% {
        opacity: 0.9;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}
