header#header {
    padding: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    display:flex;
    justify-content: space-between;
    height: 100px;
    #logo{
        font-family: var(--font-secondary);
        color: #ccc;
        font-size: 300%;
        padding: calc(var(--gutter) * 2);
        text-decoration: none;
        opacity: 0.5;
        &:hover{
            opacity: 1;
            transition: var(--transition-normal);
        }
    }
    nav {
        opacity: 0;
        z-index:0;
        ul{ height: 100vh;
            transform: translateX(100%);
            z-index: 3;
            opacity: 0;
            transition: var(--transition-large);
            margin: 0;
            padding: 0;
            li{
                font-family: var(--font-secondary);
                font-size: var(--fontSizeBig);
                a{
                    letter-spacing: 2px;
                    color: #fff;
                    text-decoration: none;
                    position: relative;
                    transition: var(--transition-medium);
                    &:hover{
                        color: #ccc;
                        letter-spacing: 6px;
                        &:after{content:''; height: 2px; background-color:var(--textLinkColorNegative); display: block; position: absolute; animation: 0.5s in-out forwards; width: 100%; bottom: -8px;}
                    }
                }
            }
        }
        &:after{
            content: ' ';
            border-radius: 100%;
            background: #000;
            width: 0;
            height: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: var(--transition-medium);
            z-index: 2;
        }
        &.active{
            z-index: 3;
            position: fixed;
            right: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            display: block;
            opacity: 1;

            ul{
                transform: translateX(0);
                opacity: 1;
                z-index: 100;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 100vh;
                width: 100vw;
                text-align: center;
                flex-direction: column;
                transition: var(--transition-medium);
            }
            &:after{
                background: #333;
                opacity: 1;
                z-index: 1;
                right: -100vw;
                top: -100vh;
                width: 250vw;
                height: 250vh;
                transition: var(--transition-medium);
            }
            & + #menu-icon{
                &:before {transform: translateY(12px) rotate(135deg);}
                div{opacity: 0}
                &:after {transform: translateY(-10px) rotate(-135deg);}
                &:hover{
                    &:before {transform: translateY(12px) rotate(-135deg);}
                    div{opacity: 0}
                    &:after {transform: translateY(-10px) rotate(135deg);}
                }
            }

        }
    }

    #menu-icon {
        justify-self: flex-end;
        width: 30px;
        height: 40px;
        display: inline-block;
        cursor: url('../assets/img/arrow2.svg'), move;
        padding: calc(var(--gutter) * 2);
        z-index: 4;
        div:after {
            opacity: 0;
        }

        &:after,
        &:before,
        div {
            background-color: #ddd;
            content: '';
            display: block;
            height: 1.5px;
            margin: 10px 0;
            transition: all 0.8s ease-in-out;
            border-radius: 1px;
        }
        div{
            width: 70%;
        }
    }
}

@media (--viewport-lg) {
    header#header{
        #menu-icon:hover{
            div {
                transform: scaleX(2.3) translateX(-15px);
                position: relative;
            }

            div:after {
                content: 'Menu';
                font-family: var(--font-secondary);
                font-size: 150%;
                text-transform: uppercase;
                position: absolute;
                top: -30px;
                width: 100px;
                transform: scaleX(0.4) translateX(-74px);
                color: #ccc;
                opacity: 1;
            }

            &:before {
                transform: translateY(20px);
            }

            &:after {
                transform: translateX(-75px);
            }
        }
    }
}
