///HOME
//Home Hero
.home {
    header#header {
        justify-content: flex-end;

        #logo {
            display: none
        }
    }
    #hero {
        background-color: #050505;

        h1 {
            position: relative;
            z-index: 2;
            font-size: 1300%;
            font-weight: normal;

            small {
                font-size: 40%;
                margin: 0;
            }
        }

        h2:after {
            content: '';
            background-image: url('../assets/img/meji.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            transition: 10s;
            z-index: 1;
            opacity: 0;
        }

        h1:hover + h2:after {
            opacity: 1;
            transition: 7s;
        }

        &:hover {
            cursor: url('../assets/img/circle.svg'), move;
        }

        h1:hover {
            cursor: url('../assets/img/heart.svg'), move;
            transition: 1s;
        }

        h3.claim:hover {
            cursor: url('../assets/img/arrow-down.svg'), move;
            transition: 1s;
        }

        h2.position {
            margin-top: 120px;
            padding: 20px;
        }

        h3.claim {
            font-weight: 300;
            opacity: 0.6;
            padding-bottom: 150px;
            margin-bottom: -150px;
            z-index: 2;
            position: relative;
        }

        .letter {
            display: inline-block;
            line-height: 1em;
        }

        .split {
            position: relative;
            min-width: 300px;
            display: block;;
            min-height: 150px;
            .letters:not(.meji) {
                font-size: 70%;
                position: absolute;
                margin: auto;
                left: 0;
                top: 0.3em;
                right: 0;
                opacity: 0;
            }

            .meji {
                opacity: 1
            }
        }
    }
}
//Bio
#bio {
    text-align: center;
    position: relative;
    .bio {
        max-width: var(--breakpoint-md);
        opacity: 1;
        display: block;
        transition: 3s;
    }
    .avatar {
        animation: bounceIn 4s infinite;
    }
    .avatar:hover ~ .bio {
        opacity: 0.6;
    }
    .avatar:hover {
        animation: zoom 4s infinite alternate;
    }
    #skills {
        position: absolute;
        bottom: 0;
        padding: 10px;
        width: 100vw;
        box-sizing: border-box;
        left: 0;
        ul {
            margin: 20px 0 0;
            font-family: var(--font-secondary);
            position: relative;
            transition: 2s;
            padding: 0;
            li {
                display: inline-block;
                font-size: 120%;
                margin: 10px;
                transition: 4s;
                a {
                    cursor: url('../assets/img/question.svg'), move;
                    text-decoration: none;
                    color: #666;
                    transition: 5s;
                }
                a:hover {
                    transform: scale(3, 3) translateX(20px);
                    transition: 10s;
                    display: inline-block;
                    color: #000;
                }
            }
            &:hover {
                transition: 5s;
                margin-top: 40px;
                li:nth-child(odd) {
                    transform: translateY(-20px);
                    transition: 8s;
                    letter-spacing: 3px;
                    margin: 15px;
                }
                li:nth-child(even) {
                    transform: translateY(-40px);
                    transition: 8s;
                    letter-spacing: 6px;
                }
            }
        }
    }
}
//Home projects
#projects {
    div {
        width: 100%;
    }
    ul {
        max-height: 80vh;
        width: 100%;
        margin: 0;
        padding: 0;
        .featured-project {
            transition: 2s;
            height: 33vh;
            overflow: hidden;
            position: relative;
            h2 {
                font-family: var(--font-main);
                filter: invert(1);
                mix-blend-mode: difference;
                line-height: 1;
                opacity: 0.3;
                margin-bottom: var(--gutter)
            }
            .logo-img{
                min-width: 150px;
            }
            &:hover {
                height: 60vh;
                cursor: url('../assets/img/arrow.svg'), move;
                h2 {
                    filter: invert(50%);
                    transition: 4s;
                    mix-blend-mode: color-dodge;
                }
                img.logo-img {
                    filter: invert(100%);
                    opacity: 0.6;
                }
                img.main-img {
                    transition: 10s;
                    top: -40vh;
                    min-height: 100%;
                }
                ~ *{
                    height: 20vh;
                }
            }
            .logo-img {
                max-width: 200px;
                display: block;
                margin: 20px auto;
            }
            .main-img {
                height: auto;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                max-width: 140vw;
                width: auto;
            }
        }
    }
}
//Home projects over Mobile
@media (--viewport-md) {
    #projects ul .featured-project {
        .main-img {
            max-width: 100%;
        }
        h2 {
            font-size: 6vw;
            opacity: 1;
        }
    }
}

//Animations
@keyframes bounceIn {
    0% {
        opacity: 1;
        transform: scale(1) translate3d(0, 0, 0);
    }
    50% {
        opacity: 0.9;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}


