#projects {
    background: var(--bodyColor);
    div {
        width: 100%;
    }
    ul {
        max-height: 80vh;
        width: 100%;
        margin: 0;
        padding: 0;
        .featured-project {
            transition: 2s;
            height: 33vh;
            overflow: hidden;
            position: relative;
            h2 {
                font-family: var(--font-main);
                filter: invert(1);
                mix-blend-mode: difference;
                line-height: 1;
                opacity: 0.3;
                margin-bottom: var(--gutter);
                position: relative;
                z-index: 2;
            }
            .logo-img{
                min-width: 150px;
                position: relative;
                z-index: 2;
                max-width: 200px;
                display: block;
                margin: 20px auto;
            }
            .main-img {
                height: auto;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 0;
                max-width: 140vw;
                width: auto;
            }
            &:hover{
                cursor: url('../assets/img/arrow.svg'), move;

                h2 {
                    filter: invert(50%);
                    transition: 4s;
                    mix-blend-mode: color-dodge;
                }

                img.logo-img {
                    filter: invert(100%);
                    opacity: 0.6;
                }
            }
        }
    }
}
.project-view {
    #hero {
        height: 100vh;
        overflow: hidden;
        position: relative;
        .container {
            position: relative;
            z-index:1;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            h1{
                font-family: var(--font-main);
                filter: invert(1);
                mix-blend-mode: difference;
                line-height: 1;
                opacity: 0.3;
                font-size: 7vw;
            }
        }
        img{
            object-fit: cover;
            position: absolute;
            z-index: 0;
            top: 0;
            transition: 10s;
            height: 100%;
            width: 100%;
        }
    }
    header{
        background: #000;
        color: #fff;
        padding: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        .flex-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            .logo-img {
                flex: 1;
                min-height: 100px;
                width: auto;
                margin-bottom: calc(var(--gutter)*2);
            }
            .data {
                flex: 1;
                text-align: center;
                color: var(--textLightColor);
                a{
                    color: var(--textLinkColorNegative)
                }
                strong{color: #fff;}
            }
            .content{flex: 1}
        }
    }
    .content{color: var(--textLightColor)}
}
@media (--viewport-lg) {
    .project-view{
        #hero {
            height: 40vh;
            transition: 3s;
            img{
                min-height: 100vh;
                min-width: 100vw;
                max-width: none;
            }
            //&:hover img{
            //    transition: 10s;
            //    top: -80%;
            //}
            &:hover{
                height: 70vh;
                & ~ header {
                    height: 30vh !important;
                }
            }
        }
        header{
            height: 60vh;
            transition: 3s;
            &:hover{
                height: 70vh;
                ~ #hero {
                    height: 30vh !important;
                    min-height: 0;
                }
            }
            .flex-container{
                flex-direction: row;
                align-items: flex-start;
                .data{
                    flex: 2;
                    padding-left: calc(var(--gutter) * 6);
                    text-align: left;
                }
                .logo-img{flex: 1}
                .content{flex: 4 }
            }
        }
    }
    #projects{
        .featured-project:hover {
            height: 60vh;
            img.main-img {
                transition: 10s;
                top: -40vh;
                min-height: 100%;
            }

            ~ * {
                height: 20vh;
            }
        }
    }
}
