// fonts
$font-base: 16px;
$font-family: 'Galano', Helvetica, sans-serif;
$font-secondary: 'Cormorant'; 
$font-height: 1.5;

//colores
$c-morado: #6A00C2;
$c-moradoclaro: #A049F8;
$c-azuloscuro: #032258;
$c-azuloscuroclaro: #0D3781;
$c-azulform: #E6F1F4;
$c-azulclaro: #00CCFF;
$c-rojoform: #F47151;