// @import 'bootstrap_all/bootstrap.scss';
// @import 'variables.scss';
// @import 'mixins.scss';
// @import 'fonts.scss';

@import 'bootstrap/bootstrap-grid.scss';
@import 'bootstrap/nav.scss';
@import 'bootstrap/forms.scss';
@import 'bootstrap/transitions.scss';
@import 'bootstrap/modal.scss';
@import 'bootstrap/pagination.scss';
@import 'bootstrap/breadcrumb.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'fonts.scss';
@import 'swiper.min.scss';
@import 'animate.scss';

@viewport {
  zoom: 1.0;
  min-zoom: 1.0;
  max-zoom: 1.0;
}

/** ESTILOS
  –––––––––––––––––––––––––––––––––––––––––––––––––– **/

/** LAYOUT
  –––––––––––––––––––––––––––––––––––––––––––––––––– **/
body{box-sizing: border-box;margin:0; padding: 0; background: #fff; font-family:$font-family; @include font-smoothing(antialiased); font-weight: 400; font-size: $font-base; line-height: 1.4;}
:focus{outline: none;}
#wrapper{margin:0; padding: 0; overflow: hidden;}

/** CLASES AND SELECTORS
  –––––––––––––––––––––––––––––––––––––––––––––––––– **/
.hidden{display:none;}
.mtno{margin-top: 0 !important;}
.mno{margin: 0 !important;}
.mt110{margin-top: 110px;}
.mt152{margin-top:152px;}
.head-margin{margin-bottom: 56px;}
.pd64{padding: 16px !important; }
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-white{color: #fff;
	a{color: #fff;
		&:hover{color: $c-moradoclaro; transition: 0.3s;}
	}
}
.text-blue{color: $c-azuloscuro;}
.bg-blue-light{background: $c-azulform;}
.bg-blue-dark{background: $c-azuloscuro;}
.b-radius{border-radius: 4px; overflow:hidden;}
.v-center{display: flex; align-items: center; justify-content: center; height: 100%; //centrado vertical
  &.column{flex-direction: column;}
}
.collapse:not(.show) { //Colapse en tabs
  display: none;
}
.separator{border-top: 2px solid  $c-azulform; clear: both;}
.uppercase{text-transform: uppercase;}
.columnado4{column-count: 2; column-gap: 32px; list-style-type: none;
	li{margin-bottom: 24px; padding: 0; line-height: 1.2;}
}
img{max-width: 100%;}
hr{height: 2px; border:none; background: $c-azulform; margin: 32px auto;}
//Barra de scroll visible
.scroll-bar-visible{
	&::-webkit-scrollbar {-webkit-appearance: none;
	    &:vertical{width: 11px;}
	    &:horizontal {height: 11px;}
	}
	&::-webkit-scrollbar-thumb{
		border-radius: 8px;
	    border: 2px solid white; /* fondo blanco, si es otro hay que cambiar color */
	    background-color: rgba(0, 0, 0, .5);
	}
}
@include respond-above(md){
	.pd64{padding: 24px  !important;; }
}
@include respond-above(lg){
	.is-fixed{position: fixed; top: 110px;}
	.pd64{padding: 64px  !important;; }
	.head-margin{margin-bottom: 84px;}
	.columnado4{column-count: 4;}
	.b-radius{border-radius: 8px; }
}
/** Gutter diferente en mobile
  –––––––––––––––––––––––––––––––––––––––––––––––––– **/

.container {
  @each $breakpoint, $gutter in $grid-gutter-widths {
    @include media-breakpoint-up($breakpoint) {
      @include make-container($gutter);
    }
  }
}

.row {
  @each $breakpoint, $gutter in $grid-gutter-widths {
    @include media-breakpoint-up($breakpoint) {
      @include make-row($gutter);
    }
  }

  .row > .col,
  .row > [class*='col-'] {
    @each $breakpoint, $gutter in $grid-gutter-widths {
      @include media-breakpoint-up($breakpoint) {
        @include make-col-ready($gutter);
      }
    }
  }
}

//*grid utilities and paddings*//

@include respond-below(md){
	.container{max-width: none; padding:0 16px;}
}



///////////BUTTONS
.btn{font-size: 81.25%; text-align: center; display: block; padding: 12px 16px; border-radius: 4px; background: $c-morado; color: #fff; border-color: $c-morado; font-weight: bold; min-width: 165px;width: 100%;
	&:hover{background-color: #fff; transition: 0.25s; color: $c-morado;}
	&.btn-secondary{
		background: #fff; border: 2px solid $c-morado; color: $c-morado;
		&:hover{background: $c-morado; color: #fff; }
	}
	&.btn-white{color: $c-morado; background: #fff;
		&:hover{background: $c-moradoclaro; color: #fff;}
	}
}
.text-white .btn{
	&.btn-secondary{color: #fff; background: transparent; border-color: #fff;
		&:hover{background: $c-morado; transition: 0.3s; border-color: $c-morado; }
	}
}

input[type="submit"]{font-size: 100%; margin-top: 32px; -webkit-appearance: unset; appearance: unset;}

#help_btn{margin: 0 auto; background: $c-morado; color: #ffffff; position: fixed; bottom: 16px; width: calc(100% - 32px); right: 16px; z-index: 10; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
	&:not(.double).white{background: #fff; color: $c-morado;
		&:hover{color: #fff; background: $c-morado; transition: 0.3s;}
	}
	&:hover{background: #fff; color: $c-morado; transition: 0.3s}
}
.button-container{margin:0;}
.link-primary{font-weight: bold; font-size: 87.50%;}
.link-primary-container{margin: 24px 0 0 0;}
.shoot-link, .shoot-link-blank{cursor: pointer;}
.purple-bg .link-primary:hover{color: #fff;
	&:hover{position:relative;
		&:after{content:''; width: 100%; height: 2px; background: #fff; display: block; margin-top: 2px; position: absolute; width: 100%; animation: 0.5s in-out forwards;}
	}
}

//*Buttons RWD*/
@include respond-above(md){
	.btn, #help_btn{display: inline-block; width: auto; font-size: 87.5%;}
	input[type="submit"]{margin-top: 0;}
	.home .button-container #help_btn.white{position: relative; bottom: auto; right: auto; }
}
@include respond-above(lg){
	.btn, #help_btn{padding: 12px 32px; line-height:1;}
	.btn-container{margin-top: 56px;}
	.link-primary-container{margin: 56px 0 0 0;}
}

/** TEXTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– **/
a{text-decoration:none; color: $c-morado; font-weight: bold; 
	&:hover{color: $c-azuloscuro}
}
p.scroll{height: 3000px;background: purple; margin: 0;}
p{margin: 0; padding: 0; }
ul, ol{margin: 0; padding: 0; line-height: 1.8; list-style-position: inside; 
	&.inline{list-style-type: none; line-height: 1.4; 
		li{display: inline-block; }
	}
	ol{list-style-type: lower-latin;}
	ol, ul{padding-left: 48px;}
}
figure{margin: 0;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{margin-top: 72px; margin-bottom: 16px; font-weight: bold;}
h1, .h1{font-size: 250% /*40px*/; margin-top: 120px; margin-bottom: 32px;}
h2, .h2{font-size: 187.5% /*30px*/; margin-top: 120px; margin-bottom: 24px;}
h3, .h3{font-size: 156.25% /*25px*/; margin-top: 96px;}
h4, .h4{font-size: 125% /*20px*/;}
h5, .h5{font-size: 112.5% /*18px*/; }
h6, .h6{font-size: 87.5%; /*14px*/}
p, ul, ol, .p{margin-bottom: 16px; font-size: 100%; font-weight: normal; margin-top: 0;}
p.subtitle{font-size: 112.5%; line-height: 1.2;}
figcaption{font-size: 81.25%;}
blockquote{font-family: $font-secondary; font-size: 150%; padding-top: 124px; padding-bottom: 20px;  margin: 48px 0 28px; background: url(img/quote.svg) no-repeat left top; background-size: 155px; font-style: italic;
	p{font-size: 100%;}
	cite{font-family: $font-family; font-size: 13px;  font-style: normal;}
}
.entry-content{
	 figure{margin: 48px 0 24px;
		figcaption{margin: 16px 0 24px;}
		img{min-width: 100%;}
	}
}
@include respond-above(sm){
	.entry-content{
		figure img{min-width: auto;}
	}
}

/* Texts WYSIWYG RWD */
@include respond-above(xl){
	h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{margin-top: 96px; margin-bottom: 16px}
	h1, .h1{font-size: 375%; margin-top: 144px; margin-bottom: 32px;}
	h2, .h2{font-size: 312.5%; margin-top: 144px; margin-bottom: 16px;}
	h3, .h3{font-size: 250%; margin-top: 145px; margin-bottom: 16px;}
	h4, .h4{font-size: 187.5%;}
	h5, .h5{font-size: 156.25%; }
	h6, .h6{font-size: 125%;}
	p.subtitle{font-size: 125%;}
	figcaption{font-size: 81.25%;}
	blockquote{ font-size: 200%; padding-left: 324px; padding-top: 48px; padding-bottom: 20px;  margin: 48px 0 28px; background: url(img/quote.svg) no-repeat left top; background-size: 179px;}
	.entry-content{
		figure{margin: 115px 0 24px;
			figcaption{margin: 16px 0 0;}
			&.alignleft{margin: 28px 40px 28px 0; float: left;}
			&.alignright{margin: 28px 0 28px 40px;float: right;}
			&.aligncenter{margin: 56px auto; text-align: center;}
		}
	}
}
@include respond-above(xxxl){
	h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{margin-top: 120px; margin-bottom: 24px;}
	h1, .h1{font-size: 500%; margin-top: 160px; margin-bottom: 40px;}
	h2, .h2{font-size: 412.5%; margin-top: 160px; margin-bottom: 32px;}
	h3, .h3{font-size: 331.25%; margin-top: 145px; margin-bottom: 32px;}
	h4, .h4{font-size: 243.75%;}
	h5, .h5{font-size: 175%; }
	h6, .h6{font-size: 150%;}
	p .p, .entry-content li{font-size: 131.25%; margin-bottom: 24px;
		ul, ol{font-size: 100%;}
	}
	.entry-content figcaption{font-size: 106.25%;}
	blockquote{font-size: 262.5%; padding-left: 284px; padding-top: 64px; padding-bottom: 20px; margin: 56px 0 36px; background-size: 247px;
		 cite{font-size: 40.476%;}
	}

}



/** HEADERS
  –––––––––––––––––––––––––––––––––––––––––––––––––– **/
header#site-header{
	position: absolute; width: 100%; top: 0; left: 0; z-index: 10; 
	.container{position: relative;}
	ul{font-size: 100%; line-height: 1;}
	#logo{display: inline-block; width: 54px;
		img{display: block; margin: 20px auto 0; width: 100%;}
		&:after{ transition: 0.5s; opacity:0; content:''; position: absolute; top: -300px; left:0; display: block;  height: 105px; width: 149px; z-index: -1;background:url(img/triangulo_b.svg) no-repeat left top;  background-size: 100% 100%; }
	}
	nav{display: none; font-weight: bold;}
	img.unir{display:none;}
	#nav-icon {width: 25px; display: inline-block;margin-top: 25px; float: right;
		&:after, &:before,  div {background-color: #fff; border-radius: 3px; content: ''; display: block; height: 2px; margin: 4px 0; transition: all .2s ease-in-out; border-radius: 1px;}
	}
	//En scroll down
	&.nav-down{opacity: 0; transition: 0.2s; //display: none !important;
		&.nav-down-fixed{opacity:1; display: block;}
		// & + section{margin-top: 165px;}
	}
	//blanca
	&.white{
		background: #fff; padding-bottom: 25px; position: relative; 
		nav ul li a{color: #000;}
		&.closed #nav-icon{
			&:after, &:before,  div {background: $c-morado;}
		}
		&.small{padding-bottom: 25px; display: block; transition: 0.3s; position: fixed; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); z-index: 1000; 
			#logo:after{top: -200px; opacity: 0; transition: 0.1s;}
			&.no-shadow{box-shadow: none;}
			// & + section{margin-top: 165px;}
		}
	}
	//simple
	&.simple{
		img.unir{display: inline-block; width: 120px; float: right; margin: 20px 0 0 0;}
	}	
	//Ajustamos el salto
	&.nav-down, &.white.small{& + section{margin-top: 71px;}}
}
/*Header home*/
.home header#site-header:not(.small):not(.opened){
	#logo{margin-left: 30px; 
		&:after{opacity:1; top:-1px; left: 0; }
	}
	&.opened #logo:after{top: -200px;}
}

/*Header RWD*/
@include respond-above(sm){
	header#site-header{
		#logo{width: 62px;
			img{  margin: 0 auto; position: relative; margin-top: 40px;}
		}
		#nav-icon {margin-top: 46px;}
		&.white{padding-bottom: 44px;}
		&.small{
			#nav-icon{margin-top: 27px;}
			#logo img{margin-top: 29px; width: 61px;}
		}
		&.simple{
			img.unir{display: inline-block; width: 140px; float: right; margin: 32px 0 0 0;}
		}	
	}
	.home header#site-header:not(.small):not(.opened) #logo{ margin-left: 74px; 
		img{width: 116%; margin-left: -8%; max-width: none;}
		 &:after{height: 175px;  width: 249px;}
	}
}
@include respond-above(md){
	header#site-header{
		#logo{
			img{margin-top: 40px;}
		}
		&.white{padding-bottom: 44px;}
		&.small{
			#logo img{margin-top: 27px; width: 69px;}
			nav{padding-top: 34px;}
			&.white{padding-bottom: 28px;}
		}
		&.nav-down, &.white.small{& + section{margin-top: 113px;}}
	}
	.home header#site-header:not(.small):not(.opened) {
		.container{max-width: none;}
		#logo{margin-left: 72px;
			&:after{ height: 157px; width: 223px;}
		}
		#nav-icon {margin-right: 30px;}

	}
}
@include respond-above(lg){
	header#site-header{
		#logo{
			img{margin-top: 43px;}
		}
		nav{display: inline-block; vertical-align: top; padding-top: 50px;font-size: 14px; float: right; margin-right:0; 
			ul {padding: 0; margin: 0;
				li{display: inline-block; margin-right: 24px;
					&:last-child{margin-right: 0; }
					a{color: #fff;
						&:hover{position:relative;
							&:after{content:''; width: 100%; height: 2px; background: #fff; display: block; margin-top: 5px; position: absolute; width: 100%; animation: 0.5s in-out forwards;}
						}
					}
					&.active{position:relative;
						// a:after{content:''; width: 100%; height: 2px; background: #fff; display: block; margin-top: 5px; position: absolute;}
						&:after{content:""; width: 0; height: 0; border-bottom: 8px solid #fff; border-right: 6px solid transparent; border-left: 6px solid transparent; position: absolute; bottom: -18px; left: 50%; margin-left: -8px;}
					}
				}
			}
		}
		#nav-icon{display: none;}
		&.small{
			nav{padding-top: 34px;}
		}
		&.white nav ul li {
			&.active{
				a:after{background: #000;}
				&:after{border-bottom: 8px solid #000;}
			}
			a:hover:after{background: #000;}
		}
		&.nav-down, &.white.small{& + section{margin-top: 116px;}}
	}
	.home header#site-header:not(.small):not(.opened){
		nav{margin-right: 72px;}
		#logo{margin-left: 84px;
			&:after{width: 256px; height: 180px;}
		}
	}
}
@include respond-above(xxl){
	header#site-header{
		#logo{width: 79px;
			img{margin-top: 53px; }
		}
		nav{padding-top: 60px; float: none;  margin-left: 150px; 
			ul li{margin-right: 24px;}
		}
		&.white{padding-bottom: 47px;}
		img.unir{display: inline-block; width: 182px; float: right; margin: 40px 0 0 0;}
		&.simple img.unir{display: inline-block; width: 182px; float: right; margin: 40px 0 0 0;}
		&.small{
			img.unir{width: 150px; margin-top: 24px}
		}
		&.nav-down, &.white.small{& + section{margin-top: 136px;}}

	}
	.home header#site-header:not(.small):not(.opened){
		#logo{margin-left: 110px;
			&:after{height: 228px; width: 325px;}
		}
		img.unir{margin-right: 120px;}
	}
}
@include respond-above(xxxl){
	header#site-header{
		#logo{width: 105px;
			img{margin-top: 60px;}
		}
		nav{padding-top: 74px; font-size: 18px; margin-left: 154px; 
			ul li{margin-right: 40px; vertical-align: top;}
		}
		img.unir{display: inline-block; width: 182px; float: right; margin: 64px 0 0 0;}
		&.white{padding-bottom: 59px;}
		&.simple img.unir{display: inline-block; width: 182px; float: right; margin: 64px 0 0 0;}
		&.small{
			img.unir{width: 161px; margin: 21px 0 /*160px*/ 0 0}
		}
	}
	.home header#site-header:not(.small):not(.opened) {
		#logo{margin-left: 156px; 
			&:after{height: 304px; width: 434px;}
		}
		img.unir{margin-right: 160px;}
	}
	&.nav-down, &.white.small{& + section{margin-top: 165px;}}
}

/*Header mobile*/
@include respond-below(lg){
	.home, body{
		header#site-header{
		 	&.opened{
		 		position: fixed; height: 100vh; background: $c-azuloscuro; transition: 0.5s;
		 		.container{height: 100vh;}
		 		#nav-icon{ vertical-align: middle; position:relative; z-index:2; 
		 			&:before {transform: translateY(6px) rotate(135deg);}
					&:after {transform: translateY(-6px) rotate(-135deg);}
					div {transform: scale(0);}
				}
				#logo {background: transparent; position: relative; z-index: 2;}
				nav {display: flex; align-items: center; justify-content: center; height: 100%; width: 100%; position: absolute; left: 0; top: 0; 
					ul{margin: -40px 0 0; padding: 0;
						li{display: block; text-align: center; margin-bottom: 45px; font-size: 18px;
							a{color: #fff;}
							&.active{position:relative;
								&:after{content:""; width: 0; height: 0; border-bottom: 8px solid #fff; border-right: 6px solid transparent; border-left: 6px solid transparent; position: absolute; bottom: -20px; left: 50%; margin-left: -8px;}
							}
						}		
					}
				}
			}
		}
	}
}

/** 04 FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– **/

footer#footer { margin-top: 0px; 
	p{font-size: $font-base;}
	#site-black-footer{
		padding: 48px 16px;	background: #000; color: #fff;
		.col-lg-4:first-child p.footer-title{margin-top: 0;}
		a{color: #fff; font-weight: bold; font-size: 87.50%;
			&:hover{color: $c-moradoclaro; transition: 0.3s;}
		}
		p{max-width: 394px;
			&.footer-title{font-size: 131%; font-weight: bold; margin-bottom: 10px;}
			&.footer-link{margin-top: 24px; margin-bottom: 64px;}
			&.mid-margin{margin-bottom: 12px;}
			&.small{font-size: 81.25%;}
		}
		ul.social {
			margin-top: 48px; 
			li{
				margin-right: 30px; 
				img{max-width: 20px;}
				a:hover path{fill: $c-moradoclaro; transition: 0.3s;}
			}
		}
		&.onecol{
			p{max-width: none;}
		}
	}
	#site-white-footer{
		padding: 24px 16px 72px;
		p.legal{margin-bottom: 24px; font-weight: bold; font-size: 87.50%;}
		p.copy{font-size: 87.50%;}
		.unir-footer {
			img{width: 120px; display: block;}
		}
	}
}
@include respond-above(sm){
	footer#footer {
		#site-white-footer{
			.unir-footer {text-align: left; float: right; margin-top: -8px; 
				img{width: 100%; width: 190px; display: inline-block; vertical-align: middle; margin-left: 8px; position: relative; top: -5px; }
			}
		}
	}
}
@include respond-above(md){
	footer#footer #site-black-footer{
		border-radius: 4px; 
	}
}
@include respond-above(lg){
	footer#footer {margin-top: 64px; 
		#site-black-footer{padding: 64px 40px; border-radius: 8px; 
			.col-lg-4{padding-right:40px;}
			p{
				&.footer-link{margin-bottom: 0;}
			}
			ul.social{margin-top: 24px;}
		}
		#site-white-footer{
			padding: 24px 0 72px;
		}
	}
}

/** 05 MÓDULOS COMUNES
  –––––––––––––––––––––––––––––––––––––––––––––––––– **/
///////////SECCIONES
//Encabezados
.with-head{
	.title, .title.h2{margin-top:0; line-height: 1.1; margin-bottom: 16px;
		&.margin{margin-bottom: 48px;} 
	}
	p{line-height: 1.5;}
	.margin{margin-bottom: 48px;}
}
//Colores
.purple-bg{background-color: $c-morado;}
.purple-light-bg{background-color: $c-moradoclaro;}
.blue-bg{background-color: $c-azuloscuro;}
.blue-light-bg{background-color: $c-azulclaro;}
//Secciones
.section{padding-top: 56px;
	&.coloured{padding-top: 54px; padding-bottom: 54px;  margin-top: 72px;}
	&.counter-numbers{margin-top: 32px;}
	&.geometric-pattern-bg{background-image:url('img/geometric-pattern.svg');background-repeat:no-repeat;background-position: center right ; background-size: contain;}
	&.map-bg{background-image:url('img/map.svg'); background-position: right center; background-repeat: no-repeat; background-size: 100%;}
	&.triangles-bg{background-image: url(img/triangles.svg); background-repeat: no-repeat; background-position: left top; padding-top: 80px; padding-bottom: 80px; background-size: auto 100%;}
	&.triangles-right-bg{background-image: url(img/triangles-right.svg); background-repeat: no-repeat; background-position: right top; padding-top:64px; padding-bottom: 64px; background-size: auto 100%;}
	&.pdno{padding:0 16px; margin-top: 64px;}
}
//////////Secciones extendidas**//

/*RWD Secciones*/
/*ancho 100% en mobile*/
@include respond-above(md){
	.extended{margin-left: -34px; margin-right: -34px;}
}
@include respond-above(lg){
	.section{padding-top: 74px;
		&.coloured{margin-top: 144px; padding-top: 64px; padding-bottom: 64px;}
		&.counter-numbers{margin-top: 72px;}
		&.pdno{padding:0; margin-top: 144px;}
		&.map-bg{background-size:initial;}

	}
	.extended{margin-left: -42px; margin-right: -42px;}
	.with-head{
		.super-title{font-size: 125%;}
		h2.super-title, h3.super-title{font-weight: normal; margin-top: 0; margin-bottom: 16px;}
		&.col2-image-text, &.col2-text, {
		  p, .p{padding-right: 32px}
		}
	}
	.image-text-column-module p, .p{padding-right: 32px}
}

@include respond-above(xl){
	.section{padding-top: 144px;}
	.extended{margin-left: -50px; margin-right: -50px;}
	.with-head{
		.title, .title.h2{
			&.margin{margin-bottom: 72px;}
		}
		p{line-height: 1.8;}
		.margin{margin-bottom: 72px;}
		h2.super-title, h3.super-title{margin-bottom: 32px;}
	}
}
@include respond-above(xxl){
	.extended{margin-left: -64px; margin-right: -64px;}
}
@include respond-above(xxxl){
	.with-head{
		.super-title{font-size: 168%;}
	}
}
@include respond-below(md){
	.extended{margin-left: -16px; margin-right: -16px;
		&.b-radius{border-radius: 0;}
	}
}

///////////LISTADO DE CIFRAS CON TEXTO EN CUERPO
.number-list{
	.col-12{margin-bottom: 40px; display: flex;}
	p{ margin-bottom: 40px;}
	.counter{font-size: 350%;font-weight: bold; width: 30%; text-align: left; display: inline-flex; flex: 0 0 35px; margin-right: 24px;}
	.h6{margin: 0;}
	margin-bottom: -56px;
}


@include respond-above(md){
	.number-list{
		.col-12{display: block;}
		.counter{font-weight: bold; width: auto; font-weight: bold; margin-right: 24px; line-height: 1;  text-align: center; display: block; }
		.text{text-align: center;}
	}
}
@include respond-above(xl){
	.number-list{/*margin-bottom: -88px; margin-top: -52px;*/
		.col-12{margin-bottom: 40px; display: flex;}
		p{text-align: left;}
		span{display: block; width: auto;}
		.counter{font-size: 350%;  text-align: left; display: inline-flex; flex: 0 0 35px; margin-right: 12px;}
		.text{text-align: left; padding-right: 16px;}
	}
}

///////////LOGOS
ul.logos{margin-top: 72px; margin-left: -20px; margin-bottom: -40px; 
	li{display: inline-block; width: 49%; margin: 0 auto 40px; text-align: center; padding: 0 20px;
		img{max-height: 35px; }
	}
}
@include respond-above(lg){
	ul.logos li{width: 32%;}
}
@include respond-above(xl){
	ul.logos li{width: 26%;}
}

///////////CAREER CARD
.career-card{
	padding: 24px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15); border-radius: 4px; margin-bottom: 24px; 
	.card-title{font-weight: bold;
		span{font-weight: normal; font-size: 81.25%; display: block;}
		small{font-weight: normal;}
		del{font-weight: normal; color: #666;}
	}
	.icon-container{padding: 0 0 0 24px; width: 104px; height: 84px; display: flex; align-items: center; justify-content: center; float: right;
	}
	&.icon-left{overflow: hidden; position:relative; transition: 0.3s;
		.icon-container{float: left; padding: 0; margin-right: 20px; width: 68px; height: 68px; 
			svg, img{width: 100%;}
		}
		.card-title{margin: 0; 
			a{color: #000;}
		}
		&:not(.plain) .card-title{ min-height: 68px;}
		.separator{margin-top: 16px; padding-top: 24px; transition: 0.3s;} 
		&.hover, &:hover{cursor: pointer;
			.separator{border-color: #0D3781; transition: 0.3s;}
			 &.plain {
			 	&:hover{cursor: default;
			 		a{cursor: default;
			 			&:hover{cursor: default;}
			 		}
			 	}
			// 	*[fill="#032258"]{fill: $c-morado; transition: 0.3s;}

			 }

			&:not(.plain){transition: 0.3s; background: $c-azuloscuro;
				*{color: #fff;
					a{color: #fff;}
				}
				.label{background: #fff; color: $c-azuloscuro; transition: 0.3s;
					&:before{border-left-color: $c-azuloscuro;  transition: 0.3s;}
				}
			}
		}
	}
	&.plain{box-shadow: none; padding: 12px}
	p.notice{font-size: 81.25%; color: #949494; margin-top: 8px;}
}
//RWD Career card
@include respond-above(xl){
	.career-card.icon-left{padding: 40px; 
		.icon-container{width: 102px; height: 102px; margin-right: 41px;  }
		.card-title{font-size: 137.5%; line-height: 1.2; 
			span{font-size: 72.72%}
		}
		&:not(.plain) .card-title{ min-height: 102px;}
		&.plain{padding: 12px 12px 12px 0;
			.icon-container{width: 50px; height: 50px; margin-right: 30px; margin-bottom: 20px;}
			.card-title{font-size: 125%;}
		}
	}
}
@include respond-above(lg){
	.career-card{border-radius: 8px;}
}
///////////HERO
.hero.hero-big{height: 100vh; overflow: hidden; position:relative;
	.hero-bg{ background: $c-morado; display: block; width: 100vw; height:100vh;
		img{background: $c-morado; width: auto; height: auto; max-width: 1000%; min-height: 100%; min-width: 100vw; position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); z-index: 1;}
		&:after{content:""; position: absolute;top: 0; left: 0; background: #000; width: 100%; height: 100vh; opacity: 0.25; z-index: 1; }
	}
	.data-container{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(img/purple-triangle.svg) left 102px  no-repeat; z-index:2; 
		.h1, .h2{line-height: 1; margin-bottom: 16px; font-size: 225%; margin-top: 0;
			small{font-size: 26.66%; display: block; margin-bottom: 8px; font-weight: normal;}
		}
		.h2 small{font-size: 44.435%;}
		p, .p{line-height: 1.2;}
		.unir{margin-top: 12px; font-size: 75%;
			img{width: 160px; display: block;}
		}

	}
	&.hero-normal{ max-height: 400px;
		.hero-bg{max-height: 400px;}
		.data-container{max-height: 400px;	background-position: right 0 top 287px; background-image: url(img/purple-triangle-right.svg);
		}	
	}
}
@supports ( object-fit: cover ) {
	.hero.hero-big .hero-bg img{object-fit:cover; max-width:none; width:100%; height: 100%;}
}
.home .hero.hero-big .hero-bg:after{height: 100%;background: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 100%);}
// @media screen and (orientation:landscape){
// 	.hero.hero-big{
// 		.hero-bg{ min-height: 100%; 
// 			// img{max-height: none; min-height: 100%; }
// 		}
// 	}
// }
@include respond-above(md){
	.hero.hero-big .data-container{background-position: left 102px;  background-size: 100%;
		.h1{font-size: 375%; margin-bottom: 32px; }
		p, .p{font-size: 125%; margin-bottom: 32px;}
	}
	.home .hero.hero-big .data-container p{margin-bottom: 24px;}
}
@include respond-above(lg){
	.hero.hero-big{
		.data-container{background-position: left  top;
			.h1{font-size: 375%;}
			.unir{margin-top: 24px;}
		}
		&.hero-normal{ max-height: 520px;
			.hero-bg{max-height: 520px;}
			.data-container{max-height: 520px;}
		}
	}
}
@include respond-above(xxl){
	.hero.hero-big .data-container{
		.unir{display: none;}
	}
}


////Ajuste home

@media (orientation:landscape) and (max-height:774px) and(min-width: 1700px){
	#hero-home .data-container{padding-top: 310px;}
}
@media (orientation:landscape) and (max-height:774px) and(min-width: 1440px){
	#hero-home .data-container{padding-top: 228px;}
}
@media (orientation:landscape) and (max-height:774px) and(min-width: 1024px){
	#hero-home .data-container{padding-top: 180px;}
}
@media (orientation:landscape) and (max-height:774px) and(min-width: 768px){
	#hero-home .data-container{padding-top: 180px;}
}


///////////FOTOS PEGADAS AL BORDER DERECHO
.at-border-right{text-align: right; 
	img{margin-bottom: 32px; }
}

// @include respond-above(md){
// 	.at-border-right{
// 		img{  }
// 	}
// }
@include respond-above(lg){
	.at-border-right{right: -72px; text-align: right; position: relative; text-align: center;  
		img{margin-bottom: 0;margin-right: -12px;}
	}
}
@include respond-above(xl){ 
	.at-border-right{right: -96px;}
}
@include respond-above(xxl){
	.at-border-right{right: -120px;}
}
@include respond-above(xxxl){
	.at-border-right{right: -160px;}
}

///////////MÓDULO CON TEXTO BOLD A LA DERECHA
#main .col2-text .text-bold{line-height:1.5;}

///////////MÓDULO CON FOTO Y TEXTO EN COLUMNA
#main .image-text-modules{
	margin-bottom: -56px; 
	.image-text-column-module{
		.h4{margin-top: 0; line-height: 1.4;}
		margin-bottom: 56px; 
		figure{margin: 0 auto; position:relative; overflow: hidden; 
			// &:before{content: ''; position: absolute;top:0; left: 0; width: 100%; height: 100%; z-index: 1; @include gradient_foto; opacity: 0.4;}
			figcaption{text-align: left;color: #000;  font-weight: bold; z-index: 2; font-size: 100%; margin-top: 24px; 
				.p{margin: 0; font-weight: bold; line-height: 1.2;}
			}
			img{display: block; }
		}
	}
}
@include respond-above(lg){
	#main .image-text-modules{
		margin-bottom: -56px; 
		.image-text-column-module{
			margin-bottom: 96px;
		}
	}
}
@include respond-above(xxl){
	#main .image-text-modules .image-text-column-module figure figcaption{margin-top: 32px;}
}
///////////TESTIMONIAL
.testimonial-container {
	.testimonial-slide{
		background: $c-azuloscuro; padding: 40px 40px 100px; text-align: center; border-radius: 4px; 
		.text{font-family: $font-secondary; font-style:italic;}
		.author{font-size: 81.25%;}
	}
	&.with-pic{
		.testimonial-slide{ overflow: hidden; display:block !important; 
			img{border-radius: 100%; width: 184px; height: 184px;  display: block;  margin:0 auto  40px;}
		}
	}
}

@include respond-above(lg){
	.testimonial-container {
		.testimonial-slide{ display: flex !important; flex-direction: column;  padding: 64px ; border-radius: 8px;}
		&.with-pic{
			.testimonial-slide{text-align: left; 
			 	img{float: left; margin-right: 40px; margin-bottom: 0;}
			 }
		}
	}
}


///////////ASIGNATURAS
.signatures{
	list-style-type:none; column-count: 1; column-gap:0; 
	li{font-size: 100%; margin-bottom: 32px; 
		p:not(.h5){font-size: 100%;}
		.h5{margin-bottom: 8px;line-height: 1}
	}
}
@include respond-above(lg){
	.signatures{column-count:2; column-gap: 48px;
		li{    -webkit-column-break-inside: avoid;  page-break-inside: avoid; break-inside: avoid-column; display:table; margin-bottom: 40px;}
	}
}
@include respond-above(xl){
	.signatures{column-count:3;}
}
///////////OFERTA
.offer{
	.pd64{position: relative; margin-bottom: 24px;}
	.h4{line-height: 1}
	p{line-height: 1.4;
		&.text{height: 40px;}
	}
	.number{font-weight: bold; font-size: 475%; line-height: 1; margin-bottom: 0;}
	.label{background: $c-azuloscuro;
		&:before{border-left-color: $c-moradoclaro;}
	}
}
 @include respond-above(md){
	.offer .number{font-size: 562.0%;}
}
 @include respond-above(lg){
	.pd64{margin-bottom: 0;}
}
 @include respond-above(xl){
	.offer .label{margin-left: 6px;}
}

 @include respond-above(xxl){
 	.offer .label{margin-left: 16px;}
 }

 //////////PROFES
.profe-item{margin-bottom: 32px; cursor: pointer; position:relative;
 	figure{position: relative; border-radius: 4px; overflow: hidden; margin-top: 0; position:relative;
 		img{display: block; min-width: 100%;}
 		&:after{ content:""; position:absolute; background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%); height: 50%; width: 100%; bottom: 0; left: 0; right: 0; z-index:1;}
 		figcaption{position: absolute; bottom: 0; left: 0; right: 0; text-align: left; padding: 16px; margin: 0; color: #fff; z-index:2; 
 			p{margin: 0 0 8px; line-height: 1;}
 			.name{margin-bottom: 0; line-height:1;}
 		}
 		&:before{content:""; position:absolute; background: $c-morado; opacity: 0; height: 100%; width: 100%; bottom: 0; left: 0; right: 0; cursor: pointer;}
 		&:hover{
 			// img{width: 140%; margin-left: -20%; max-width: none; transition: 0.3s;}
 			&:before{transition: 0.3s; opacity: 0.6;}
 			&:after{content:url(img/plus-white.svg); background: transparent;  opacity: 1; width: 48px; height: 48px; position: absolute; top: 50%; left: 50%; bottom: auto; margin: -24px 0 -0 -24px;  z-index:2;}
 		}
 	}
 }
 @include respond-above(lg){
 	.profe-item figure{ border-radius: 8px}
 }

/////////Trapecios
.trapecios-bg{background-image: url(img/trapecios-up.svg); background-repeat: no-repeat; background-position: top left; background-size: 100%;
	.text-blue{margin-top: 140px;
		.h2{max-width: 100%; padding-left: 15%;}
		.super-number strong{font-size: 500%; display: block; line-height:1;}
	}
}
@include respond-above(md){
 	.trapecios-bg{background-image: url(img/trapecios.svg); background-size: contain; background-position: -120% top;  
 		.text-blue{margin-top: 0;}
 	}
}
@include respond-above(lg){
 	.trapecios-bg{ background-position: left top; }
}

//////////Slider Posts
.slider-posts{
	.slider{margin-top: 56px;
		.img-container{margin: 0 auto 24px;}
		.cormorant{font-family: $font-secondary; font-style: italic; line-height: 1.2; margin: 0; margin-bottom: 16px;}
	}
}
@include respond-above(lg){
	.slider-posts{
		.slider{margin-top: 48px;
			.img-container{float: left; margin:0 56px 0 0; margin-bottom: 0;}
			.cormorant{font-family: $font-secondary; font-style: italic; line-height: 1.2; margin: 0; margin-bottom: 16px;}
		}
	}
}

//////////FAQS
.faqs {
	.faq-container{ position:relative;
		border-radius: 4px; box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15); margin-bottom: 16px; padding: 0 16px;
		.faq-title{font-weight: bold;  padding: 16px 24px 16px 0; margin-bottom: 0; cursor: pointer;
			&:not(.collapsed){border-bottom: 2px solid $c-azulform;
				&:after{background-image: url('img/minus-purple.svg')}
			}
			&:after{content:""; width: 24px; height: 24px; right: 16px; top: 16px;  background: url('img/plus-purple.svg') no-repeat right center; position: absolute; }
		}
		.faq-body{padding: 16px 0; }
	}
	.nav-pills{margin-bottom: 56px;}
}

@include respond-above(lg){
	.faqs .faq-container{
		margin-bottom: 24px; padding: 0 40px; border-radius: 8px; 
		.faq-title{padding: 20px 48px 20px 0; font-size: 150%; max-width: 66%;}
		.faq-body{padding: 20px 0; }
	}
}

////////// LAMP MODULE
.lamp-module{
	.h2{line-height: 1.2;}
}

@include respond-above(lg){
	.lamp-module{background-image: url(img/lamp.svg); background-position: right 72px  top; background-size: contain; background-repeat: no-repeat;}
}

///////// SLIDES
.swiper-container-ext{margin-right: -16px; position:relative;
	.swiper-pagination-bullet-active{background: $c-morado;}
	.swiper-pagination, .swiper-pagination-alone{display:none; position: initial; text-align: center; margin-top: 16px;}
}
.swiper-alone-testimonial{
	.swiper-pagination-alone-testimonial{text-align:center; top: -80px;  position: relative; z-index: 2; margin-bottom: -22px; 
		.swiper-pagination-bullet{border: 1px solid #fff; opacity: 1; background:transparent; width: 10px; height: 10px;
			&.swiper-pagination-bullet-active{background: #fff; opacity: 1;}
		}
	}
}
.swiper-button-next, .swiper-button-prev{width: 18px; height: 32px; background-size: 100%; display: none;}
.swiper-button-next{right: -32px; background-image: url(img/rowright.svg);}
.swiper-button-prev{left: -32px; background-image: url(img/rowleft.svg);}


@include respond-above(sm){
	.swiper-button-next, .swiper-button-prev{display: block;}
}

@include respond-above(lg){
	.swiper-container-ext{
		.swiper-pagination, .swiper-pagination-alone{display:block; text-align: left; margin-top: 32px;}
	}
	.with-pic .swiper-pagination-alone-testimonial{text-align: left; padding-left: 284px;}
	.swiper-alone-testimonial .swiper-pagination-alone-testimonial{top: -55px;}
	.with-pic .swiper-alone-testimonial .swiper-pagination-alone-testimonial{top: -60px;}
}

//////////LABELs
.label{background: $c-morado; border-right-top-radius: 4px; padding: 4px 8px 4px 16px; font-size: 75%; position: absolute; right: 0; top: 0; color: #fff; font-weight: bold; 
	&:before{content:''; width: 0; height: 0; border-left: 10px solid #fff; border-top: 8px solid transparent; border-bottom: 8px solid transparent; position: absolute; left: -1px; top: 50%; margin-top: -8px; }
}
 @include respond-above(xl){
 	.label{padding: 8px 27px; font-size: 83.33%;}
	.offer .label{ padding: 8px 12px;}
}

 @include respond-above(xxl){
 	.offer .label{ padding: 8px 27px;}
}

.career-card .label{background-color: $c-moradoclaro;
	&.no-plazas{background: $c-azuloscuro;}
}

//////////COUNTER NUMBERS
#wrapper .counter-numbers{ font-size: 130%; 
	.definition{font-size: 75%; font-weight: bold; margin-bottom: 4px;}
	strong{font-size: 130%;}
	p.secondary{font-size: 87.5%;}
}
@include respond-above(lg){
	.counter-numbers{
		strong{font-size: 80%;}
		p.secondary{margin-top: -24px;}
	}
}
@include respond-above(xxl){
	.counter-numbers strong{font-size: 150%;}
}

////////////MODALES
//Modal popup
body .modal{width:100vw;height:100vh;background:rgba( $c-azuloscuro, .8 ) ;margin:0;box-sizing:border-box;z-index:1000000000;
	//Modal video
	.modal-lg{width:100vw;height:100vh;margin:0;background:transparent;max-width:none;max-height:none;box-sizing:border-box; position:relative;
	    button.close{position:absolute;opacity:0.9;z-index:1000;right:3px;top:3px; color: #fff; left:auto;text-shadow:none;border: none; width:30px; height: 30px;
	    	img{width: 100%;}
	    }
	    .modal-content{height:100vh;background:rgba( $c-azuloscuro, .8 ); padding:15px;
	     	iframe{box-sizing:border-box;padding:10px;background:transparent;}
	    }
	}
	//Modal profe
    .modal-md{border: none; padding: 0; background: transparent;  
    	button.close{position:absolute;opacity:0.9;z-index:1000;right:25px;top:25px; color: #000; left:auto;text-shadow:none;border: none; background: transparent; width:30px; height: 30px; padding: 0; 
    		img{width: 100%;}
    	}
    	.modal-content{flex-direction: column; border: none; border-radius: 4px; background: white; overflow: hidden; margin: auto;
	    	.image-container{width: 100%; margin:0;
	    		img{width: 100%;}
	    	}
	    	.content{padding: 16px; display: inline-block;
	    		.text{overflow-y: scroll !important; height: 190px; margin-bottom: 56px;}
	    		.linkedin img{width: 25px;}
	    	}
	    }
    }
}

@include respond-above(md){
	body .modal{
		.modal-md{ max-width: 90%;
			.modal-content{flex-direction: row;  width: 994px; height: 464px;
				.image-container{width: 384px;  margin: 0; height: 464px;
					img{max-width: none; width: auto;}
				}
				.content{padding: 56px; }
			}
			
		}
	}
}

@include respond-below(lg){
    body .modal{-webkit-overflow-scrolling: touch;
    	.flex-center{display: block;}
    	.modal-md .modal-content{border-radius: 8px;}
  	}
}

////////////VIDEO PLAYER
.video-container{min-height: 184px; background-size: cover; background-repeat: no-repeat; background-position: center; position:relative;
	.video-button{min-height: 184px; display: block; position: absolute;top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.3) url(img/video-player.svg) no-repeat center center; background-size: 48px; cursor: pointer; z-index:10;
		&:hover{opacity: 0.8;}
	}
}

@include respond-above(md){
	.video-container{min-height: 400px;
		.video-button{min-height: 400px;}
	}
}
@include respond-above(xl){
	.video-container{min-height: 672px;
		.h2{position: relative; z-index:20;}
		.video-button{min-height: 672px; background-size: 96px;}
	}
}
/** 06 FORMS
  –––––––––––––––––––––––––––––––––––––––––––––––––– **/
p.form-subtitle{margin-top:8px;}
h4.form-title{margin-top:32px;}
form{
	label{font-size: 81.25%;
		&.form-check-label{cursor: pointer;}
	}
	.form-check label{font-size: 70%;}
	.form-control {background: $c-azulform; border: 2px solid $c-azulform; font-size: 81.25%; line-height: 1.8; padding:12px ;height: 42px; box-shadow: none; -webkit-appearance: none;
		&:focus{box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); border: 2px solid $c-azulform;}
		&:not(:placeholder-shown):not(select){background: #fff; font-weight: bold;}
	}
	select.form-control{background:url(img/select-icon.svg) no-repeat; background-position:  center right 12px;  -webkit-appearance: none; appearance: none; -moz-appearance:none;  padding: 6px 12px;}
	//Radio
	.radio-button__control { position: relative; display: inline-block; width: 32px; height: 32px; margin-right: 6px; vertical-align: middle; background-color: $c-azulform;  border: 2px solid $c-azulform;  border-radius: 100%; }
	.radio-button__input { opacity: 0; position: absolute;
		&:checked+.radio-button__control{background: #fff;}
		&:checked+.radio-button__control:after { content: ""; display: block; position: absolute; top: 6px; left: 6px; width: 16px; height: 16px; background-color: $c-morado; border-radius: 100%;}
	}
	.radio-button__label, .check-button__label {display: inline-block; vertical-align: middle;}
	//Check
	//Radio
	.form-check{padding-left: 0;}
	.check-button__label {width: calc(100% - 35px);}
	.check-button__control { position: relative; display: inline-block; width: 24px; height: 24px; margin-right: 6px; margin-bottom: 8px;  vertical-align: top; background-color: $c-azulform;  border: 2px solid $c-azulform; border-radius: 4px ;}
	.check-button__input { opacity: 0; position: absolute;
		&:checked+.check-button__control{background: #fff;}
		&:checked+.check-button__control:after { content: ""; display: block; position: absolute; top: 4px; left: 4px; width: 12px; height: 12px; background: url('img/check.svg') no-repeat center center; background-size: 100%;}
	}
	p.notice{ width: 100%; padding: 16px 64px; text-align: center; font-size: 87.5% ; border-radius: 4px;
		&.blue{background: $c-azulclaro;}
		&.red{background: $c-rojoform url(img/error-icon.svg) no-repeat 22px center; color: #fff; text-align: left; padding-left: 78px; margin-top: 36px;}
	}
	p.submit{margin: 40px 0;}
	small.error{color: $c-rojoform; font-size: 64.30%}
	input.form-control.error{border-color: $c-rojoform; color:  $c-rojoform;
		&::placeholder{color: $c-rojoform;}
	}
	.legal-text{font-size: 81%; height: 100px; overflow: scroll; border: 1px solid rgba(255,255,255,0.2); padding: 10px; display: none;  margin-bottom: 16px;
		&.grey-border{border: 1px solid #eee; margin-bottom: 32px;}
	}
}

.blue-bg form{
	.check-button__control{border-color:  $c-azuloscuroclaro; background-color: $c-azuloscuro; margin-bottom: 0;}
}
@include respond-above(xl){
	form{
		.form-control {border-radius: 6px;}
		p.notice{border-radius: 8px;}
		.form-control:focus::placeholder{font-size: 64.25%; line-height: 1; position: relative; top: -10px;}
	}
}

//Pills
.nav-pills {margin-bottom: 16px;
	.nav-link{padding: 0; margin-right: 16px; border-radius: 0;}
	.nav-link.active, .nav-pills .show > .nav-link{background: transparent; color: #000; border-bottom: 2px solid #000; border-radius: 0;}
}

//POSTS
.post-module{ margin-bottom: 32px; 
	figure{
		img{display: block; margin: 0 auto 16px;}
		.h4, .h5, .h6{ line-height: 1.2; 
			margin: 16px 0;
			a{color: #000;  transition: 0.3s;
				&:hover{color: $c-morado; transition: 0.3s;}
			} 
		}
	}
	&:hover{cursor:pointer}
}

@include respond-above(lg){
	.post-module{ margin-bottom: 64px; /*padding: 0 32px;*/}
}

@include respond-below(xl){
	.post-module .h4, .h5, .h6{font-size: 150%;}
}

//Pagination
.pagination-nav{
	width: 100%; 
	.page-link{color: $c-morado; transition: 0.3s;
		&:hover{color: $c-moradoclaro; background: $c-azulform;}
	}
	.page-item.active .page-link{background: $c-morado;}
}

//Breadcrumb
.breadcrumb{background: transparent; padding: 0;
	.breadcrumb-item.active{color: #fff;}
}
/** 07 CARRERA
  –––––––––––––––––––––––––––––––––––––––––––––––––– **/
#hero-career{
	.hero-bg{position:absolute; top:0; left: 0;height: calc(100vh - 71px);
		// img{height: calc(100vh - 71px); min-height:0;  }
		&:after{height: calc(100vh - 71px)}
	}
	.data-container{ padding: 0; height: auto; position:relative; background-image: none;
		.counter-numbers{font-size: 100%;}
		.data-container-mobile{height:  calc(100vh - 71px);  padding: 0 16px; margin:0 -16px; padding-bottom: 100px; background: url(img/purple-triangle.svg) no-repeat left top; align-self: center !important; justify-content: center !important;background-size: cover;
			.career-icon{display: block; width: 56px; height: 56px; margin: 0 24px 0 0; line-height: 72px; vertical-align: middle; display: inline-block; vertical-align: top; 
				 img{max-width: 56px; max-height: 56px;}
			}
			.h2{display: inline-block;}
		}
		.counter-numbers{color: #000; padding-top: 40px;
			.hero-data{margin-bottom: 32px;
				a{color: $c-morado; font-weight: bold;}
			}
		}
	}
	&.inactive .data-container .data-container-mobile{background-image: url(img/blue-triangle.svg);}
	#career-nav{background: $c-azulform;
		ul{font-size:100%;  margin: 0; padding:0;
			li{color: #000; font-size: 100%; padding: 16px 0; margin-right: 32px; list-style-type: none; 
				span{color: #000; font-size: 87.50%; font-weight: normal; cursor: pointer;
				}
				&.active span{font-weight: bold; position: relative;}
			}
		}
		&.fixed{position: fixed; top: 0; left: 0; bottom: auto; width: 100%; z-index:1001;  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
			&.nav-up{top: 71px;}
		}

		#help_btn.double{//padding-top:7px; padding-bottom:7px;padding-right:7px;
			span{padding: 6px 32px; background: #fff; color: $c-morado; border-radius: 4px; display: block; margin-top: 8px;}
			&.white span{background: $c-moradoclaro; color: #fff;}
		}
	}
}

@include respond-above(md){
	#hero-career{
		.data-container{
			.data-container-mobile{padding: 204px; margin: 0 -204px;
				.career-icon{width: 72px; height: 72px;
					img{max-width: 72px; max-height: 72px;}
				}
			}
		}
		#career-nav{
			&.fixed.nav-up{top: 84px;}
			ul li{padding: 32px 0;
				&.active span:after{content:''; width: 100%; height: 2px; background: #000; display: block; position: absolute; width: 100%; animation: 0.5s in-out forwards; bottom: -8px;}
				span:hover{font-weight: bold;}
			} 
		}
	}
}
@include respond-above(lg){
	#hero-career{
		.hero-bg{height: calc(100vh - 185px); overflow: hidden; 
			img{height: auto; min-height: 100%;}
		}
		.data-container{height: calc(100vh - 185px); background-position: left bottom; background-size: 50%;  display: flex !important; background-image: url(img/purple-triangle.svg);
			.data-container-mobile{height: auto; padding:0; margin: 0; background:none;
				// .h1 {background: none; padding-top: 0; 
				// 	small{ padding-top: 66px; background: url(img/light_on.svg) no-repeat 24px top; }
				// }
				.unir{margin-top: 0;}
			}
			.counter-numbers{color: #fff; padding-top: 24px;
				.hero-data{margin-bottom: 0;
					a{color: #fff; font-weight: bold;}
				}
			}
		}
		&.inactive .data-container{background-image: url(img/blue-triangle.svg);
			.data-container-mobile{background-image: none}
		}
		#career-nav{position: absolute; bottom: 0; left: 0; width: 100%; z-index: 2; 
			li{display: inline-block; }
			#help_btn{position: initial; float: right; margin-top: 24px; 
				&.white{background: $c-morado; color: #fff;
					&:hover{color: $c-morado; background: #fff;}
				}
				&.double{padding:7px 7px 7px 32px;  display: inline-block;
					span{ margin-left: 32px; background: $c-moradoclaro; color: #fff; display: inline-block;  margin-top: 0px;}
				}
			}
		}
	}
}


@include respond-above(xxl){
	#hero-career #career-nav.fixed.nav-up{top: 87px}
}


@include respond-below(lg){
	#hero-career{height: auto !important; overflow: visible;
		#career-nav {
			nav ul {margin: 0 -16px; padding-left: 16px; cursor: pointer;
				li{
					&:not(.active){opacity:0; display: none; transition: 1s;}
					&.active { background: url(img/unfold.svg) no-repeat right center;}
				}
			}
			&:not(.fixed){
				nav ul li:first-child{opacity: 1; display: block; transition: 1s; background: url(img/unfold.svg) no-repeat right center;}
			}
			&.opened{
				nav ul li{opacity: 1; display: block; transition: 1s;
					&.active {background:none;
						span:after{content:''; width: 100%; height: 2px; background: #000; display: block; margin-top: 3px; position: absolute; width: 100%; animation: 0.5s in-out forwards;}
					}
					&:first-child{ background: url(img/fold.svg) no-repeat right center;}
				}
			}
		}

	}
}

/** 08 POSTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– **/
#hero-post{background: none;
	.data-container{background: none}
}

#hero-normal.hero-tag{background: $c-morado;}

/** 09 ANIMACIONES
  –––––––––––––––––––––––––––––––––––––––––––––––––– **/
@keyframes in-out {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/** 09 EXPLORER
  –––––––––––––––––––––––––––––––––––––––––––––––––– **/
@media all and (-ms-high-contrast:none){ 
	*::-ms-backdrop, .data-container.d-flex{display:flex !important;}
	*::-ms-backdrop, .d-flex{display: block !important}
	*::-ms-backdrop, #wrapper{-ms-flex:1;-webkit-flex:1;flex:1;}
}

/** INVOICE
  –––––––––––––––––––––––––––––––––––––––––––––––––– **/
#invoice{width: 900px; margin: auto; background: #ccc;
	section{padding: 60px 120px; margin: 0;
		h1{margin: 60px 0 0;}
		h3{line-height: 1;}
		small{font-size: 14px; display: block;}
		&.blue-bg{background-image: url(img/invoice-triangle.svg); background-repeat: no-repeat; background-position: right bottom -90px}
		&.white{background: #fff;}
		&.bg-form{background: $c-azulform}
	}
	#footer{margin: 0; 
		section{border-radius: 0 !important;}
	}
}

/** COOKIES
----------------------------------------------------- */
#consent_blackbar #truste-consent-track.trustarc-banner{background-color: rgba($c-morado, 0.7); font-family: $font-family; border-top: 1px solid rgba(255,255,255,0.3);
#truste-consent-text, .truste-required, .truste-open{font-family: $font-family}
	.truste-required, .truste-open{border-radius: 4px; padding: 12px 0; font-weight: bold; text-transform: none; font-size: $font-base; min-width: 160px;
		&:hover{color: $c-morado; borer-color: $c-morado; background: #fff}
	}
}
